* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo h1 {
    margin: 50px;
    font-size: 55px;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

input {
    margin: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section {
    padding-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section div {
    background-color: rgb(228, 228, 228);
    text-align: center;
    height: 170px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

section div h5 {
    font-size: 20px;
}

section div p {
    font-size: 45px;
}