

h1{
    font-size: 71px;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 35px;
    display: flex;
    justify-content: center;
}

table{
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 30px;
        text-align: center;
}

main{
    display: flex;
    justify-content: center;
    margin: 25px;
}
#turma{
    width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}